.h1 {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 3rem;
}
.small {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}
.p {
  height: fit-content;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}
.body {
  margin: 0;
  font-family: "Hind", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.h2 {
  margin: 0;
  font-family: "Hind", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}
